<mat-nav-list>

  
  <a
  mat-list-item
  [routerLinkActive]="'active'"
  routerLink="/fr/dashboard-tutor/tutor"
  *ngIf="isAdminLoggedIn()"
>
  <mat-icon class="sidenav-icon">people</mat-icon>
Tuteurs 
</a>

  <a
  mat-list-item
  [routerLinkActive]="'active'"
  routerLink="/fr/dashboard-tutor/student"
  *ngIf="isAdminLoggedIn()"
>
  <mat-icon class="sidenav-icon">person</mat-icon>
 étudiants 
</a>
  <a
    mat-list-item
    [routerLinkActive]="'active'"
    routerLink="/fr/dashboard-tutor/cours" *ngIf="isTutorLoggedIn()"  
  >
    <mat-icon class="sidenav-icon">class</mat-icon>
   Cours collectifs 
  </a>
  <a
    mat-list-item
    [routerLinkActive]="'active'"
    routerLink="/fr/dashboard-tutor/transactions"
    *ngIf="isAdminLoggedIn()" 
  >
    <mat-icon class="sidenav-icon">attach_money</mat-icon>
    transactions
  </a>
  

  <a
    mat-list-item
    [routerLinkActive]="'active'"
    routerLink="/fr/dashboard-tutor/appointment" *ngIf="isTutorLoggedIn()"  
  >
    <mat-icon class="sidenav-icon">event</mat-icon>
   Rendez vous
  </a>
  <a
  mat-list-item
  [routerLinkActive]="'active'"
  routerLink="/fr/dashboard-tutor/tutor-profile" *ngIf="isTutorLoggedIn()"  
>
  <mat-icon class="sidenav-icon">settings</mat-icon>
  Modifier mon profil
</a>

  
</mat-nav-list>
