<h2 mat-dialog-title>Réserver un cours d'essai de 50 min</h2>
<mat-dialog-content class="mat-typography">
   
  <p style="    color: transparent;">An app's components typically define many views, arranged hierarchically. Angular provides
  the Router service to help you define navigation paths among views.</p>

<div class="styles_TimetableWrapper">
    <div class="styles_Timetable">
      <div class="styles_TimetableHeadSentinel"></div>
      <div class="styles_TimetableHead" data-qa-id="timetable">
        <div class="styles_TimetableHeadSwitcher">
          <button
            class="styles_NavButton__x6SQL Button_button__qXZ5J Button_outlined__1RdQI"
            data-qa-id="previous-timeslots"
            (click)="goToPreviousWeek()"
          >
            <!-- Previous button icon -->
          </button>
          <div class="styles_TimetableHeaderTextContainer">
            {{ dateRange }}
          </div>
          <button
            class="styles_NavButton__x6SQL Button_button__qXZ5J Button_outlined__1RdQI"
            data-qa-id="next-timeslots"
            (click)="goToNextWeek()"
          >
            <!-- Next button icon -->
          </button>
        </div>
        <!-- Rest of the code -->
      </div>
      <div class="styles_DaysHead">
        <div class="styles_DayName styles_Day" *ngFor="let day of daysData">
          <div class="styles_DayHead">
            <p class="styles_DayTitle__en8Z8">{{ day.day }}</p>
            <p class="styles_DayDate">{{ day.date }}</p>
          </div>
        </div>
      </div>

      <div class="styles_Calendar">
        <div class="styles_Day" *ngFor="let day of daysData">
          <div *ngFor="let timeslot of day.timeslots"
         
            data-qa-group="schedule-timeslots"
            [attr.data-qa-id]="getDateQaId(day, timeslot)"
        
            class=" styles_TimeSlotAvailable"
            [class.styles_TimeSlotAvailable]="selectedTimeslots.includes(getDateQaId(day, timeslot))"
           >
        <span  (click)="handleTimeslotClick(day, timeslot)">    {{ timeslot }}</span>
          </div>
        </div>
      </div>
      
      

      
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
<!--   <button mat-button mat-dialog-close>Cancel</button> -->
<button style="background: #25216a;
color: #FFF;
border-radius: 15px;" mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="confirmReservation()" [disabled]="selectedTimeslots.length === 0">Confirmer l'heure</button>

</mat-dialog-actions>
