
<div class="mt20" fxLayout="row" fxLayoutAlign="space-between stretch" fxLayout.lt-md="column" fxLayoutGap="20px">
  <div class="container">
    <div class="row">
      <div class="col col-6">
        <h1>
          Mon cours en groupe
        </h1>
      </div>
      <div class="col col-12">
        <h5>
          Pas de cours prévu
        </h5>
      </div>
      <div class="col col-12">
        <button mat-button class="my-course"  routerLink="/group-courses">
          <mat-icon>group</mat-icon>
          Découvrez nos cours en groupe
        </button>
 pour trouver celui qu'il vous faut
      </div>
   
    </div>
  </div>

</div>
