@import '~src/scss/variables';
.location-icon {
  color: $primary-color;
}
.my-course{
  border-radius:#36309c;
  color:#36309c;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}