@import '~src/scss/variables';
.location-icon {
  color: $primary-color;
}
.mat-form-field {
  margin-left: 20px;
}
.small-card {
  height: 250px;
}

.btn-rs{
  color: #fff;
  background-color: #ff4438;
  border-color: #ff4438;
  margin-left: 11px;
  border-radius: 36px;
}
