<div class="container">
  <div class="row">
    <div class="col col-8">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title
            >Scams - how do they work? Why do people get involved in them? B1,
            B2 Fun reading and discussion!</mat-card-title
          >
          <mat-card-subtitle>5 places restantes</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-chip-list #chipList multiple="true">
            <mat-chip> Anglais </mat-chip>
            <mat-chip> B1 </mat-chip>
            <mat-chip> 60 min </mat-chip>
            <mat-chip> 6 places / cours </mat-chip>
          </mat-chip-list>
          <span class="text-info" style="font-size: 12px"
            >15:30 - 16:30 mardi, 16 mai 2023</span
          >
          <p>This card indeterminates progress bar.</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col col-3">
      <mat-card class="example-card">
        <mat-card-header> </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle>COURS COLLECTIF </mat-card-subtitle>

          <div>Outil de communication - Chatify</div>

          <h5>$ 10.00 USD/class</h5>
          <button mat-button class="btn-rs">Réserver</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
