@import '~src/scss/variables';
.location-icon {
  color: $primary-color;
}
.mat-form-field {
  margin-left: 20px;
}
.small-card {
  height: 250px;
}

.attente {
  color: orange;
}

.confirme {
  color: green;
}

.annule {
  color: red;
}
